.hero-container {
    /* background: url('./basketball.jpg') center/cover; */
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    align-items: center;
    object-fit: contain;
  }

  .profile-card-6 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-6 img {
    transition: all 0.15s linear;
}

.profile-card-6 .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview h3 {
    font-weight: bold;
}

.profile-card-6 .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
    filter: brightness(80%);
    image-rendering: pixelated;

}

.profile-card-6:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}

.img {
  height: 500px;
  width: 400px;
  image-rendering: pixelated;
}

.logo {
  width: 70px; 
  height: 50px;
  display: flex;
}

.images-teams {
  box-shadow: 10px 10px 10px 10px rgba(0, 255, 34, 0.2);
  transition: 0.3s;
  background-color: #000000;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-alert {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.images-teams:hover {
  box-shadow: 0 8px 16px 0 rgba(55, 0, 255, 0.2);
}
.footer {
  color:rgb(184, 175, 175);
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
}


.remove-button {
  padding-bottom: 80px;
  padding-top: 80px;
}
.encima{
  position: absolute;
  text-align: center;

}

.signup {
  left: 47%;
}

.remove-team {
  left: 45%;
}

.update-button {
  left: 40%;
}

.fondoBasket {
  position: absolute;
  width: 100%;
  height: 140%;
  position: fixed;

}

.centrado:hover {
  background: rgb(184, 175, 175);
}

.nav-link:hover {
  background: rgb(184, 175, 175);

}

.wrapper{
width: 860px; 
margin: 0 auto;
}
.wrapper ul{
list-style: none;
display: flex;
}
.wrapper ul li {
width: 170px;
height: 50px;
line-height: 50px;
text-align: center;
float: left;
position: relative;
}

.color-signup {
  color:#242424;
}
.color-byTeamName {
  color:rgb(21, 255, 0);
}

.color-name {
  color:rgb(255, 255, 255);
}

.wrapper ul ul{
display: none;
}
.wrapper ul li:hover > ul{
display: block;
}
.wrapper ul ul ul{
margin-left: 170px;
top: 0;
position: absolute;
}

.link-color {
  color: rgb(184, 175, 175);

}

.navbar {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
  justify-content: space-between;
}

video {
  object-fit: cover;
  width: 100%;
  height: 140%;
  position: fixed;
}

/* #background-video{

    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed; 
    } */

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(184, 175, 175);
    transition: background-color .5s;

}

.centrado-update-add{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.lista{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(184, 175, 175);
  display: flexbox;
}

.items{
  margin: 20px 100px 0 auto;

}

.derecha{
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.btn--primary {
    position: absolute;
    font-family: fantasy;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 200%;
    padding: 8px 20px;
    background-color:rgb(255, 255, 255);
    color: #242424;
    border: 50px solid rgb(0, 0, 0);
    border-radius: 20px;
    right: 69%;
  }

  .btn--secundary {
    position: absolute;
    font-family: fantasy;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 200%;
    padding: 8px 20px;
    background-color:rgb(255, 255, 255);
    color: #242424;
    border: 50px solid rgb(0, 0, 0);
    border-radius: 20px;
    right: 47%;
  }

  .btn--third {
    position: absolute;
    font-family: fantasy;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 200%;
    padding: 8px 20px;
    background-color:rgb(255, 255, 255);
    color: #242424;
    border: 50px solid rgb(0, 0, 0);
    border-radius: 20px;
    right: 20%;
  }

